services: 
  mysql: 
    image: mysql 
    environment: 
        MYSQL_ROOT_PASSWORD: dontusethisinprod 
    ports: 
        - 3306:3306
    volumes: 
        - dbdata:/var/lib/mysql
  adminer: 
    image: adminer 
    ports: 
        - 8080:8080

volumes: 
    dbdata: 